<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.mylyn.context.ui.bridges">
    <uiBridge
          class="org.eclipse.mylyn.modeling.ecoretools.EcoreDiagramUIBridge"
          contentType="uml2"/>
  </extension>
	
	     <extension
           point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
        <decoratorProvider
              class="org.eclipse.mylyn.modeling.ecoretools.EcoreDiagramDecoratorProvider">
           <Priority
                 name="Highest">
           </Priority>
           <object
                 class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)"
                 id="NODE">
           </object>
           <context
                 decoratorTargets="NODE">
           </context>
        </decoratorProvider>
     </extension>
      <extension
            point="org.eclipse.mylyn.context.core.bridges">
         <structureBridge
               class="org.eclipse.mylyn.modeling.ecoretools.EcoreDiagramStructureBridge">
         </structureBridge>
      </extension>

   <extension
         point="org.eclipse.mylyn.context.ui.startup">
      <startup
            class="org.eclipse.mylyn.modeling.ecoretools.EcoreDiagramUIBridgePlugin$EcoreDiagramBridgeStartup">
      </startup>
   </extension>
</plugin>
