<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.mylyn.context.ui.bridges">
    <uiBridge
          class="org.eclipse.mylyn.modeling.ecoretools.EcoreDiagramUIBridge"
          contentType="uml2"/>
  </extension>
	
	     <extension
           point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
        <decoratorProvider
              class="org.eclipse.mylyn.modeling.ecoretools.EcoreDiagramDecoratorProvider">
           <Priority
                 name="Highest">
           </Priority>
           <object
                 class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)"
                 id="NODE">
           </object>
           <context
                 decoratorTargets="NODE">
           </context>
        </decoratorProvider>
     </extension>
      <extension
            point="org.eclipse.mylyn.context.core.bridges">
         <structureBridge
               class="org.eclipse.mylyn.modeling.ecoretools.EcoreDiagramStructureBridge">
         </structureBridge>
      </extension>

   <extension
         point="org.eclipse.mylyn.context.ui.startup">
      <startup
            class="org.eclipse.mylyn.modeling.ecoretools.EcoreDiagramUIBridgePlugin$EcoreDiagramBridgeStartup">
      </startup>
   </extension>

     <extension point="org.eclipse.ui.popupMenus"> 

     <objectContribution
           adaptable="true"
           id="org.eclipse.mylyn.modeling.ecoretools.ui.interest.remove.diagram.element"
           objectClass="org.eclipse.emf.ecore.EObject">
     	<action
            class="org.eclipse.mylyn.internal.context.ui.actions.InterestDecrementAction"
            definitionId="org.eclipse.mylyn.context.ui.commands.interest.decrement"
            enablesFor="*"
            icon="icons/elcl16/interest-decrease.gif"
            id="org.eclipse.mylyn.ecoretools.ui.interest.remove.element"
            label="%InterestDecrementAction.label"
            menubarPath="group.reorganize"
            tooltip="%InterestDecrementAction.tooltip">
      </action>
            <visibility>
      		<and>
      			<systemProperty
	               name="org.eclipse.mylyn.context.core.context.active"
    	           value="true">
      			</systemProperty>
	               <objectClass
	                     name="org.eclipse.emf.ecore.EObject">
	               </objectClass>
      		</and>
      </visibility>
     </objectContribution>
     
     <objectContribution
           adaptable="true"
           id="org.eclipse.mylyn.modeling.ecoretools.ui.interest.remove.ecore_diagram.element"
           objectClass="org.eclipse.emf.ecoretools.diagram.edit.parts.EClassEditPart">
     	<action
            class="org.eclipse.mylyn.internal.context.ui.actions.InterestDecrementAction"
            definitionId="org.eclipse.mylyn.context.ui.commands.interest.decrement"
            enablesFor="*"
            icon="icons/elcl16/interest-decrease.gif"
            id="org.eclipse.mylyn.ecoretools.ui.interest.remove.element"
            label="%InterestDecrementAction.label"
            menubarPath="group.reorganize"
            tooltip="%InterestDecrementAction.tooltip">
      </action>
            <visibility>
      		<and>
      			<systemProperty
	               name="org.eclipse.mylyn.context.core.context.active"
    	           value="true">
      			</systemProperty>
	               <objectClass
	                     name="org.eclipse.emf.ecoretools.diagram.edit.parts.EClassEditPart">
	               </objectClass>
      		</and>
      </visibility>
     </objectContribution>
	</extension>
</plugin>
